body {
    background-color: rgb(41, 41, 134);
    /*cambio de color de las letras y vocales*/
    color: white;
    /*cambiar la fuente a todo*/
    font-family: Helvetica;
}

strong {
    background-color: black;
}